.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}




.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    flex-flow: column wrap;
    flex-direction: column;
    height: 255px;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
}

.videoSobre .container {
    display: flex;
    justify-content: space-between;
}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
    margin-right: 20px;
}


@media screen and (max-width: 768px){

    .cabecalhoPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .conteudoPrincipal-cursos {
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }

    .videoSobre .container {
        flex-direction: column;
    }

    .videoSobre-video {
        margin-right: 0 auto;
    }
    .rodapePrincipal-navMap-list{
        height: 100%;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }

    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }     
    .rodapePrincipal-patrocinadores-list li {
        margin-bottom: 1rem;
    }
    .rodapePrincipal-contatoForm {
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

}